{% extends "homeBase.html.twig" %}
    {% block header %}
        {% include 'Home/Layout/homeHeader.html.twig' %}
    {% endblock %}

    {% block main %}

        <section>

            <div class="span7">
                <div class="widget stacked widget-table action-table">

                    <div class="widget-header">
                        <i class="icon-th-list"></i>
                        <h3 class="titre">historique des Formations</h3>
                    </div> <!-- /widget-header -->

                    <div class="widget-content">

                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Formations</th>
                                <th>date</th>
                                <th>duree</th>
                                <th>cout</th>
                                <th>nb_place</th>
                                <th>contenu</th>
                                <th>Adresse</th>
                                <th>Prestataire</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in frtEffectuée %}
                                <tr>
                                    <td>{{ row.titre }}</td>
                                    <td>{{ row.date_debut }}</td>
                                    <td>{{ row.duree }}</td>
                                    <td>{{ row.cout }}</td>
                                    <td>{{ row.nb_place }}</td>
                                    <td>{{ row.contenu }}</td>
                                    <td>{{ row.numero_rue }} {{ row.rue }} {{ row.ville }} {{ row.code_postal }}</td>
                                    <td>{{ row.nom }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div> <!-- /widget-content -->

                </div> <!-- /widget -->
            </div>
            <br />
            <br />

        </section>
    {% endblock %}